.Description{
    min-height:100%;
    width:90%;
    background-color:white;
    border-radius:10px;
    padding:40px 24px;
    max-width:730px;
}
.Description h2{
    font-weight:700;
    margin-bottom:35px;
}
#Description-header>p{
    color:var(--Dark-Gray);
    line-height: 1.75rem;
    margin-bottom:36px;
}    
#Description-main{
    margin-top: 20px;
}
